<div class="popup">
	<div class="header">
		<div class="fold">
			<div class="padding"></div>
			<div class="close"></div>
		</div>
	</div>
	<div class="body">
		<% if( src) { %><iframe src="<%= src %>" frameBorder=0/><% } %>
	</div>
</div><!-- .popup -->
