<div class="popup email">
	<div class="header">
		<div class="fold">
			<div class="padding"></div>
			<div class="close"></div>
		</div>
	</div>
	<div class="body">
		<form name="email" action="/email" method="post">
			<div class="field">
				<input name="name" placeholder="Name *"/>
			</div>
			<div class="field">
				<input	name="company" placeholder="Company"/>
			</div>
			<div class="field">
				<input	name="email" placeholder="Email address *"/>
			</div>
			<div class="field">
				<input	name="phone" placeholder="Telephone number"/>
			</div>
			<div class="field">
				<textarea name="message" placeholder="Message *"/>
			</div>
			<div class="errors"></div>
			<div class="message"></div>
			<div class="field clearfix">
				<div class="button"></div>
			</div>
		</form>	
	</div>
</div><!-- .popup -->
<div class="popup twitter">
	<div class="header">
		<div class="fold">
			<div class="padding"></div>
			<div class="close"></div>
		</div>
	</div>
	<div class="body">
		<div class="widget"><a href="https://twitter.com/#!/sonydadc" target="_blank" title="Follow us on Twitter (opens a new window)">Follow us</a> | <a href="http://twitter.com/share?url=http://newmedia.sonydadc.com" target="_blank" title="Share the DADC New Media Solutions site on Twitter (opens a new window)">Tweet this</a></div>
	</div>
</div><!-- .popup -->
<div class="popup facebook">
	<div class="header">
		<div class="fold">
			<div class="padding"></div>
			<div class="close"></div>
		</div>
	</div>
	<div class="body">
		<div class="widget"><a href="http://www.facebook.com/SonyDADCGlobalSolutions" target="_blank" title="Visit us on Facebook (opens a new window)">Visit us</a></div>
	</div>
</div><!-- .popup -->
<div class="popup googleplus">
	<div class="header">
		<div class="fold">
			<div class="padding"></div>
			<div class="close"></div>
		</div>
	</div>
	<div class="body">
		<div class="widget"><a href="https://plus.google.com/103151310041371957877/" target="_blank" title="Add us on Google+ (opens a new window)">Add us</a></div>
	</div>
</div><!-- .popup -->
